body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(virat.webp);
    
    background-size: cover;
    margin: 80px;
    height: 78vh;
    display: flex;
    justify-content: left; /* Place the container on the right side */
}

.container {
    height: 450px;
    width: 300px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.9); /* Use an rgba background to make it slightly transparent */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 20px; /* Add margin to the right for separation */
}

h2 {
    text-align: center;
    color: blue;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.options {
    text-align: center;
    margin-top: 10px;
}

.options a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.options a:hover {
    text-decoration: underline;
}

.bottom-text {
    text-align: center;
    margin-top: auto;
    color: #008080;
}